.Banner h1{
    background: url("https://www.shutterstock.com/image-vector/abstract-triangle-background-yellow-theme-260nw-2194340589.jpg");
    background-clip: text;
    color: transparent;
}

.card {
    background: #8162ff;
    box-shadow: 0 6px 8px 0 rgba(255, 255, 255, 0.2);
    transition: 0.25s;
    border-radius: 5px;
    margin: 12px;
    min-width: 44%;
    border: #faef22 solid 2px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.card:hover {
    scale: 1.05;
    border: solid 4px #faef22;
}

.card .container {
    padding: 2px 16px;
}

.card .container p{
    color: #faef22;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flex-container{
    padding: 2px 5% 2px 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}